/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

p{
  margin: 0;
}

.card {
  display: flex;
  flex-direction: row;
  width: 400px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 10px;
  padding: 20px;
}

.card-image {
  width: 200px;
  height: 200px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-tipo {
  display: flex;
}

.card-tipo p{
  font-size: 14px;
  margin-right: 10px;
  padding: 10px;
  background-color: #DB4C40;
  color: white;
  border-radius: 12px;
}

